/* ==== Generelt ==== */
body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #f8f8ed;
    color: white;
}

/* ==== Header ==== */
header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px; /*avstand mellom logo, søk og kurv */
    padding: 15px 25px;
    background-color: #f8f8ed;
    border-bottom: 1px solid #e6e6e6;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: #f5993d;
}

/* Søkefelt */
.søkefelt {
    width: 250px;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
}

/* Ikon i søkefelt */
.søkefelt .ikon {
    width: 25px;
    margin-right: 8px;
    filter: invert(0);
}
 /* Input i søkefelt */
.søkefelt input.søk {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    font-size: 14px;
}

/* Handlekurv */
.handlekurv {
    margin-left: auto;
}

.handlekurv .kurv {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    background-color: white;
    color: black;
    border: 1px solid #e6e6e6;
    padding: 6px 12px;
    border-radius: 10px;
    cursor: pointer;
}

/* Ikon i handlekurv */
.kurv .ikon {
    width: 25px;
    filter: invert(0);
}

/* ====Navigasjonsbar==== */
nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 25px;
    background-color: white;
    border-bottom: 1px solid #e6e6e6;
    gap: 20px;
}

nav > div {
    display: flex;
    align-items: center;
    gap: 4px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.ikon {
    width: 20px;
    filter: invert(0);
}

.kategori-knapp,
.oppskrift-knapp {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

/* Påloggingsknapper*/
.innlogging {
    margin-left: auto; /* Dytter alt etter denne til høyre */
}

/* Innlogging */
.logginn,
.opprett {
    background: transparent;
    color: black;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.opprett {
    background-color: #f5993d;
    color: black;
    padding: 6px 12px;
    border-radius: 10px;
}

/* ==== Hovedinnhold ==== */
main.paalegg {
    padding: 30px 25px;
    color: black;
}

/* ==== Filterknapp ==== */
.filter {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    position: relative;
}

/* Knapp for å vise/skjule filter */
.filterknapp {
    display: flex;
    align-items: center;
    gap: 10px; /*mellomrom mellom tekst og ikon*/
    color: black;
    font-size: 16px;
    padding: 8px 14px;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    background-color: white;
    cursor: pointer;
}

/* Filtermenyen som vises etter klikk*/
.filtermeny {
    position: absolute;
    top: 110%;
    left: 0;
    background: white;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    padding: 10px;
    display: none; /*skjules som standard*/
    z-index: 100;
}

.filtermeny label {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
}

.filterknapp.aktive-filter {
    background-color: #f5993d;
    color: black;
}

.filter-tagg {
    background-color: #f5993d;
    color: black;
    padding: 8px 14px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
}

.filter-tagg button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: black;
}

.aktive-filter {
    display: flex;
    gap: 10px;
}

/* ==== Produkter ==== */
.produktliste {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 60px;
}

/* Stil for produktene */
.produkt {
    background-color: white;
    padding: 12px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    width: 180px;
    height: 320px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Bilder av produkter */
.produktbilde {
    width: auto;
    height: 175px;
    object-fit: contain;
    margin-bottom: 10px;
}

/* Tekst og pris */
.produkt h3 {
    font-size: 16px;
    margin: 0 0 6px 0;
    color: black;
    height: 40px;
    overflow: hidden;
}

.produkt p {
    font-size: 14px;
    margin: 0 0 10px 0;
    color: black;
}

.produkt pris {
    font-size: 14px;
    color: black;
}





