/* Generelt */
body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #f8f8ed;
    color: white;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px; /*avstand mellom logo, søk og kurv */
    padding: 15px 25px;
    background-color: #f8f8ed;
    border-bottom: 1px solid #e6e6e6;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: #f5993d;
}

.søkefelt {
    width: 250px;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
}

.søkefelt .ikon {
    width: 25px;
    margin-right: 8px;
    filter: invert(0);
}

.søkefelt input.søk {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    font-size: 14px;
}

.handlekurv {
    margin-left: auto;
}

.handlekurv .kurv {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    background-color: white;
    color: black;
    border: 1px solid #e6e6e6;
    padding: 6px 12px;
    border-radius: 10px;
    cursor: pointer;
}

.kurv .ikon {
    width: 25px;
    filter: invert(0);
}

/* Navigasjonsbar */
nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 25px;
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
    gap: 20px;
}

nav > div {
    display: flex;
    align-items: center;
    gap: 4px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.ikon {
    width: 20px;
    filter: invert(0);
}

.kategorier, .kategori-knapp {
    text-decoration: none;
    background: transparent;
    color: black;
    font-size: 16px;
    border: none;
}

/* Kategori-meny */
.kategorier {
    position: relative;
    cursor: pointer;
}

.kategori-meny {
    position: fixed; /*plasseres i forhold til nærmeste relative container*/
    top: 121px;
    left: 0; /*starter helt til venstre*/
    width: 100vw; /*fyller hele bredden i vinduet*/
    background-color: white;
    display: none;
    justify-content: center; /*sentrerer innholdet horisontalt*/
    padding: 80px 0; /*luft over og under lenkene*/
    z-index: 1000; /*sørger for at menyen vises over andre elementer*/
}

/*Grid-layout for innholdet av kategori*/
.kategori-innhold {
    display: grid;
    grid-template-columns: repeat(2, auto); /*to kolonner*/
    gap: 20px 40px;
}

/*stil for lenkene i kategori-menyen*/
.kategori-meny a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;

    color: black; /*svart tekstfarge*/
    text-decoration: none; /*fjerner understrek*/
    background-color: #e6e6e6;
    padding: 10px 200px; /*luft inni knappene*/
    border-radius: 10px; /*avrundede kanter*/
    font-weight: 500; /*fetere tekst*/
    white-space: nowrap; /*hindrer at teksten brytes til ny linje*/
    text-align: center;
    height: 20px;

    /*setter en usynlig ramme slik at knappene beholder størrelse*/
    border: 2px solid transparent;
}

/*musepeker over knapp i kategori-meny*/
.kategori-meny a:hover {
    background-color: white;
    color:black;
    border: 2px solid #e6e6e6;
}

.oppskrifter, .oppskrift-knapp {
    text-decoration: none;
    background: transparent;
    color: black;
    font-size: 16px;
    border: none;
}

/* Oppskrift-meny */
.oppskrifter {
    position: relative;
    cursor: pointer;
}

.oppskrifter-meny {
    position: fixed;
    top: 121px;
    left: 0;
    width: 100vw;
    background-color: white;
    display: none;
    justify-content: center;
    padding: 80px 0;
    z-index: 1000;
}

/*grid layout for innholdet av oppskrifter*/
.oppskrifter-innhold {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 40px;
}

/*stil for lenkene i oppskrifter-meny*/
.oppskrifter-meny a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;

    color: black;
    text-decoration: none;
    background-color: #e6e6e6;
    padding: 10px 150px;
    border-radius: 10px;
    font-weight: 500;
    white-space: nowrap;
    text-align: center;
    height: 20px;

    /*setter en usynlig ramme slik at knappene beholder størrelse ved hover*/
    border: 2px solid transparent;
}

.oppskrifter-meny a:hover {
    background-color: white;
    color: black;
    border: 2px solid #e6e6e6;
}

.aktiv-knapp {
    border-bottom: 3px solid #f5993d;
}

.innlogging {
    margin-left: auto; /* Dytter alt etter denne til høyre */
}

/* Innlogging */
.logginn, .opprett {
    background: transparent;
    color: black;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.opprett {
    background-color: #f5993d;
    color: black;
    padding: 6px 12px;
    border-radius: 10px;
}
